cdc.EventSubscriber/com.tibco.sharedAssets/Schemas/NewXMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="P__E__EMPLOYEE">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EID" type="xs:string" />
              <xs:element name="ENAME" type="xs:string" />
              <xs:element name="EDEPT" type="xs:string" />
              <xs:element name="ESALARY" type="xs:string" />
              <xs:element name="ADB__OPCODE" type="xs:string" />
              <xs:element name="ADB__SEQUENCE" type="xs:string" />
              <xs:element name="ADB__TIMESTAMP" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>